@media all and (min-width: 1030px) {
  .divmainHead {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: fixed; */
  }

  .mainHead {
    width: 1026px;
    /* background: #e0fff9; */
    background: radial-gradient(
      circle,
      rgba(247, 246, 95, 1) 0%,
      rgba(142, 250, 205, 1) 100%
    );
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  .divLeftHeader {
    display: flex;
    justify-content: left;
    align-items: center;
    direction: ltr;
  }

  .personImg {
    margin: 0 1em;
    width: 40px;
  }

  .textIncoming {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    color: #108a0d;
    padding: 0 10px;
    border-radius: 5px;
    background: linear-gradient(
      90deg,
      rgba(185, 185, 251, 0.26094187675070024) 0%,
      rgba(229, 244, 110, 0.19091386554621848) 45%,
      rgba(135, 249, 135, 1) 100%
    );
  }

  .LogoImg {
    margin: 8px;
    width: 100px;
  }

  .TextLogo {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 400;
    font-size: 39.4161px;
    color: #fd630d;
    border-radius: 10px;
    padding: 5px 10px;
    background: linear-gradient(
      86deg,
      rgba(33, 246, 226, 0) 0%,
      rgba(245, 245, 61, 1) 49%,
      rgba(221, 246, 60, 0.3757878151260504) 100%
    );
  }

  .divRightHeader {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .inputSearch {
    width: 940px;
    background: #f7faf9;
    border-radius: 10px;
    direction: rtl;
    height: 25px;
    padding: 0 40px;
  }

  .divInputSearch {
    margin: 5px 0 0 0;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .SearchImg {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 20px;
  }

  .ButtonManagement{
    background: linear-gradient(
      86deg,
      rgba(148, 184, 180, 0) 0%,
      rgb(209, 209, 122) 49%,
      rgba(170, 236, 203, 0.376) 100%
    );
    border-radius: 10px;
    margin: 0 5px;
    box-shadow: 0px 0px 5px 2px rgba(73, 71, 72, 0.71);
  }

.ButtonManagement:hover{
  font-size: 25px;
  box-shadow: 0px 0px 10px 9px rgba(73, 71, 72, 0.71);
}

}

/******************************************************/

@media all and (min-width: 320px) and (max-width: 1030px) {
  .divmainHead {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 5px;
    position: fixed;
  }

  .mainHead {
    max-width: 400px;
    /* height: 135px; */
    background: #e0fff9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    /* gap: 1%; */
  }

  .divLeftHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-template-columns: 1rem;
  }

  .personImg {
    margin: 0 0.2em;
    width: 30px;
  }

  .textIncoming {
    font-family: "Vazir";
    font-style: normal;
    /* font-weight: 400; */
    font-size: 9px;
    /* line-height: 24px; */
    color: #108a0d;
  }

  .LogoImg {
    margin: 0 0.2em;
    width: 60px;
  }

  .TextLogo {
    font-family: "Vazir";
    font-style: normal;
    /* font-weight: 400;
    font-size: 30.4161px; */
    color: #fd630d;
  }

  .divRightHeader {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .inputSearch {
    width: 75%;
    background: #f7faf9;
    border-radius: 5px;
    direction: rtl;
    height: 0.9rem;
    font-size: 0.5rem;
    padding: 0 1rem;
  }

  .divInputSearch {
    width: 320px;
    margin-top: 0.3rem;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .SearchImg {
    position: absolute;
    right: 1.7rem;
    top: 0.2rem;
    width: 0.7rem;
  }
}
