.divmainHead {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHead {
  width: 1384px;
  height: 135px;
  background: #e0fff9;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.divLeftHeader {
  display: flex;
  justify-content: left;
  align-items: center;
}

.personImg {
  margin: 0 1em;
}

.textIncoming {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 44px;
  color: #108a0d;
}

.LogoImg {
  margin: 0 1em;
}

.TextLogo {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  font-size: 39.4161px;
  color: #fd630d;
}

.divRightHeader {
  display: flex;
  justify-content: right;
  align-items: center;
}
