@media all and (min-width: 1030px) {
  .MainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15px;
  }

  .MainPageSection {
    width: 1026px;
    border-radius: 15px;
    overflow-y: scroll;
    padding: 139px 0 65px;
  }

  .mainPageHome::-webkit-scrollbar {
    width: 0;
  }

.ProductsSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #F1FFF4;
    padding: 10px;
}



}

/*************************************************/

@media all and (min-width: 320px) and (max-width: 1030px) {
  .MainDisplay {
    display: flex;
    justify-content: center;

    width: 100%;
  }

  .MainFooterSection {
    display: flex;
    justify-content: right;
    /* align-items: center; */
    width: 320px;
    border-radius: 5px;
    background-color: rgb(116, 114, 114);
    color: white;
    height: 70px;
    padding: 5px;
  }

  .DivFooterRight {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
  }
}
