@media all and (min-width: 1030px) {
  .divMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15px;
  }

  .mainPageHome {
    width: 1026px;
    /* height: 58rem; */
    border-radius: 15px;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    /* padding: 139px 0 65px; */
    padding: 0px 0 65px;
  }

  .mainPageHome::-webkit-scrollbar {
    width: 0;
    /* height: 0;
    padding: 0; */
  }

  .MainImgPageHome {
    width: 1026px;
    /* height: 70px; */
  }
}

/*************************************************/

@media all and (min-width: 320px) and (max-width: 1030px) {
  .divMain {
       display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }

  .mainPageHome {
    width: 280px;
    /* height: 58rem; */
    border-radius: 5px;
    overflow-y: scroll;
    padding: 0px 0 50px;
  }

  .mainPageHome::-webkit-scrollbar {
    width: 0;
  }

  .MainImgPageHome {
    width: 277px;
  }

 
}
