@media all and (min-width: 1030px) {
  .divModalOrderRew {
    display: flex;
    width: 100%;
    padding-top: 15px;
    justify-content: center;
    position: fixed;
    z-index: 12;
    top: 50px;
    right: 0;
  }

  .DivScondLayerModal {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 5;
  }

  .divModalOrderRewSection {
    width: 700px;
    border-radius: 15px;
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(246, 250, 250);
    font-family: "Vazir";
    padding: 20px;
  }

  .divHeadModal {
    color: rgb(10, 161, 248);
    font-weight: 900;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: 600px;
  }

  .divInputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    font-weight: bold;
    width: 500px;
  }

  .divInputsLeft {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .inputsModal {
    width: 220px;
  }

  .CloseModal {
    color: red;
    padding: 2px 5px;
    border-radius: 7px;
  }

  .CloseModal:hover {
    cursor: pointer;
    background-color: rgb(236, 165, 165);
  }

  .divInfoModal {
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 500px;
  }

  .divFactorModal {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(7, 134, 134);
  }

  .DivHeadTableModal {
    display: flex;
    background-color: rgb(247, 189, 114);
    font-weight: 900;
    width: 500px;
    font-family: "Vazir";
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .NameProductModal {
    width: 60%;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .PriceModal {
    width: 20%;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .CounterModal {
    width: 20%;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .ButtenDeliveredModal {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(47, 122, 3);
    background: linear-gradient(
      86deg,
      rgba(253, 249, 141, 0.995) 0%,
      rgba(119, 248, 229, 1) 50%,
      rgb(244, 247, 163) 100%
    );
  }

  .ButtenDeliveredModal:hover {
    cursor: pointer;
    background: linear-gradient(
      86deg,
      rgba(104, 233, 64, 0.995) 0%,
      rgb(206, 238, 63) 50%,
      rgb(100, 223, 63) 100%
    );
  }

  .divDeliveredDate {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 300px;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(72, 136, 35);
    background: linear-gradient(
      86deg,
      rgba(253, 249, 141, 0.995) 0%,
      rgba(119, 248, 229, 1) 50%,
      rgb(244, 247, 163) 100%
    );
  }

  .TextErrrorInputs {
    color: rgb(255, 47, 47);
    margin-top: 40px;
    font-weight: bold;
  }

  .TextSucsefullEnter {
    color: rgb(34, 106, 241);
    margin-top: 40px;
    font-weight: bold;
  }

  /**/

  .TableSection {
    margin-top: 15px;
    padding: 0 50px;
  }

  .DivRowTables {
    display: flex;
    background-color: rgb(247, 215, 173);
    font-family: "Vazir";
  }

  .DivRowOddTables {
    display: flex;
    background-color: rgb(248, 230, 212);
    font-family: "Vazir";
  }
}

/*************************************************/

@media all and (min-width: 320px) and (max-width: 1030px) {
  .divModalOrderRew {
    display: flex;
    width: 100%;
    padding-top: 15px;
    justify-content: center;
    position: fixed;
    z-index: 12;
    top: 5px;
    right: 0;
  }

  .DivScondLayerModal {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 5;
  }

  .divModalOrderRewSection {
    width: 260px;
    border-radius: 15px;
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(246, 250, 250);
    font-family: "Vazir";
    padding: 20px 10px;
  }

  .divHeadModal {
    color: rgb(10, 161, 248);
    font-weight: 800;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 250px;
  }

  .divInputs {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
    font-weight: bold;
    width: 250px;
    flex-direction: column;
  }

  .divInputsLeft {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .inputsModal {
    width: 220px;
    font-size: 12px;
  }

  .CloseModal {
    color: red;
    padding: 2px 5px;
    border-radius: 7px;
  }

  .CloseModal:hover {
    cursor: pointer;
    background-color: rgb(236, 165, 165);
  }

  /* .divInfoModal {
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 500px;
  } */

  /* .divFactorModal {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(7, 134, 134);
  }

  .DivHeadTableModal {
    display: flex;
    background-color: rgb(247, 189, 114);
    font-weight: 900;
    width: 500px;
    font-family: "Vazir";
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  } */

  /* .NameProductModal {
    width: 60%;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .PriceModal {
    width: 20%;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .CounterModal {
    width: 20%;
    padding: 10px;
    align-items: center;
    text-align: center;
  } */

  .ButtenDeliveredModal {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(47, 122, 3);
    background: linear-gradient(
      86deg,
      rgba(253, 249, 141, 0.995) 0%,
      rgba(119, 248, 229, 1) 50%,
      rgb(244, 247, 163) 100%
    );
  }

  .ButtenDeliveredModal:hover {
    cursor: pointer;
    background: linear-gradient(
      86deg,
      rgba(104, 233, 64, 0.995) 0%,
      rgb(206, 238, 63) 50%,
      rgb(100, 223, 63) 100%
    );
  }

  /* .divDeliveredDate {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 300px;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(72, 136, 35);
    background: linear-gradient(
      86deg,
      rgba(253, 249, 141, 0.995) 0%,
      rgba(119, 248, 229, 1) 50%,
      rgb(244, 247, 163) 100%
    );
  } */

  .TextErrrorInputs {
    color: rgb(255, 47, 47);
    margin-top: 20px;
    font-weight: bold;
  }

  .TextSucsefullEnter {
    color: rgb(34, 106, 241);
    margin-top: 20px;
    font-weight: bold;
  }

  /* .TableSection {
    margin-top: 15px;
    padding: 0 50px;
  } */

  .DivRowTables {
    display: flex;
    background-color: rgb(247, 215, 173);
    font-family: "Vazir";
  }

  .DivRowOddTables {
    display: flex;
    background-color: rgb(248, 230, 212);
    font-family: "Vazir";
  }
}
