@media all and (min-width: 1030px) {
  .divSubjectSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-family: "Vazir";
  }

  .textBascketOrder {
    font-weight: 900;
    font-size: 25px;
    color: rgb(10, 161, 248);
  }

  .textAprowContinue{
    font-size: 22px;
    font-weight: bold;
    color: rgb(9, 9, 170);
    border-radius: 15px;
    padding: 20px 30px;
    background: linear-gradient(
      86deg,
      rgba(245, 236, 161, 0.995) 0%,
      rgb(165, 243, 163) 50%,
      rgb(236, 247, 141) 100%
    );
    box-shadow: 0px 0px 5px 2px rgba(180, 151, 166, 0.71);
  }

  .textAprowContinue:hover{
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 0px 5px 2px rgba(53, 17, 35, 0.71);
  }

  .TableSection {
    margin-top: 15px;
    padding: 0 50px;
  }

  .DivHeadTable {
    display: flex;
    background-color: rgb(247, 189, 114);
    font-weight: 900;
    font-size: 17px;
    font-family: "Vazir";
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .SpanNameRows {
    width: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .SpanImg {
    width: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .SpanNameProduct {
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .SpanPriceFactor {
    width: 20%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .SpanCountProduct {
    width: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .SpanOperator {
    width: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .ImgProduct {
    width: 40px;
    /* box-shadow: 0px 0px 5px 2px rgba(53, 17, 35, 0.71); */
  }

  .DivFooterTable {
    display: flex;
    justify-content: space-around;
    background-color: rgb(204, 243, 200);
    color: blue;
    font-weight: 900;
    font-size: 17px;
    font-family: "Vazir";
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .SpanTotText {
    width: 55%;
    padding: 10px;
    text-align: center;
  }

  .SpanTotPrice {
    width: 20%;
    padding: 10px;
    text-align: center;
  }

  .SpanTotCounter {
    width: 25%;
    padding: 10px;
  }

  /*********/

  .SpanRewOrder {
    cursor: pointer;
    width: 20%;
    padding: 10px;

    align-items: center;
    text-align: center;
  }

  .MoreInfoImg:hover {
    width: 25px;
    background: linear-gradient(
      86deg,
      rgba(243, 205, 123, 0.995) 0%,
      rgb(147, 247, 144) 50%,
      rgb(243, 194, 122) 100%
    );
    border-radius: 10px;
    padding: 2px 5px;
    /* background-color: aqua; */
    /* box-shadow: 0px 0px 10px 9px rgba(48, 36, 42, 0.71); */
  }

  .DivRowTables {
    display: flex;
    background-color: rgb(247, 215, 173);
    font-family: "Vazir";
  }

  .DivRowOddTables {
    display: flex;
    background-color: rgb(248, 230, 212);
    font-family: "Vazir";
  }

  .PaginationDiv {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 20px 40% 0;
    padding: 10px 20px;
    font-weight: bold;
    font-family: "Vazir";
    background: linear-gradient(
      86deg,
      rgba(253, 249, 141, 0.995) 0%,
      rgba(119, 248, 229, 1) 50%,
      rgb(244, 247, 163) 100%
    );
  }

  .PaginationDivError {
    width: 300px;
    text-align: center;
    margin: 20px 33% 0;
    padding: 10px 20px;
    font-weight: bold;
    font-family: "Vazir";
    color: rgb(240, 18, 18);
    background: linear-gradient(
      86deg,
      rgba(253, 249, 141, 0.995) 0%,
      rgba(119, 248, 229, 1) 50%,
      rgb(244, 247, 163) 100%
    );
  }

  .PaginationBotton:hover {
    cursor: pointer;
    background-color: rgb(246, 250, 6);
    font-size: 15px;
    color: red;
  }

  .divLoding {
    margin: 100px 300px 0 0;
    width: 200px;
    text-align: center;
    background-color: rgb(127, 240, 240);
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(105, 85, 194);
  }
}

/*************************************************/

@media all and (min-width: 320px) and (max-width: 1030px) {
}
